.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
  font-size: 17px;
  margin-top: 20px;
}

#logout {
  font-size: 17px;
  cursor: pointer;
  color: royalblue;
}

#logout:hover {
  background: silver;
}
